{% extends "layout.html" %}
{% block title %}Registrarse{% endblock %}

{% block customCss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register_login_style.css') }}">
{% endblock %}
{% block content %}


<div class="container-fluid auth-wrapper d-flex align-items-center justify-content-center">
  <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-5">
    <form method="post" action="{{ url_for('auth.register') }}">
      <div class="bg-light auth-card p-3 p-sm-5 my-1">

        <!-- Encabezado centrado -->
        <div class="text-center mb-2">
          <div class="d-inline-flex align-items-center mb-2">
            <i class="fa fa-hashtag me-1 text-primary fs-2"></i>
            <span class="h4 mb-0 text-primary fw-bold">IT MultiService TX</span>
          </div>

          <h5 class="fw-semibold mb-1">Crear cuenta</h5>
          <p class="text-muted mb-0">
            Registra tu cuenta para comenzar a gestionar tus tickets de soporte.
          </p>
        </div>

        <!-- Campos -->
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingText" name="username" placeholder="jhondoe">
          <label for="floatingText">Nombre de usuario</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" name="email" placeholder="correo@ejemplo.com">
          <label for="floatingInput">Correo electrónico</label>
        </div>

        <div class="form-floating mb-4">
          <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Contraseña">
          <label for="floatingPassword">Contraseña</label>
        </div>

        <!-- Recuérdame + Olvidó contraseña -->
        <div class="d-flex align-items-center justify-content-between gap-3 mb-3">
          <div class="form-check d-flex align-items-center gap-2">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
          </div>

          <a href="#" class="small">¿Olvidaste tu contraseña?</a>
        </div>

        <!-- Botón -->
        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">
          Registrarme
        </button>

        <!-- Ir a iniciar sesión -->
        <p class="text-center mb-0">
          ¿Ya tienes una cuenta?
          <a href="{{ url_for('auth.login') }}">Inicia sesión</a>
        </p>

      </div>
    </form>
  </div>
</div>
{% endblock %}
