{% extends "layout.html" %}
{% block title %}Dashboard Técnico{% endblock %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded p-4 shadow-sm">

                <h5 class="mb-4 text-primary fw-bold">
                    <i class="fa fa-cogs"></i> Dashboard Técnico
                </h5>
                <p>Bienvenido al dashboard técnico. Aquí puedes gestionar las operaciones técnicas del sistema.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}