{% extends "layout.html" %}

{% block content %}
<!-- agregar div de home clientes -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Welcome to the Clients Admin Dashboard</h6>
                <p>PANTALLA DE HOME PARA CLIENTES ADMIN.</p>
            </div>
            <!-- link para crear company_users -->
            <div class="mt-4">
                <a href="{{ url_for('client_admin.create_company_user') }}" class="btn btn-primary">Create Company User</a>
            </div>
        </div>
    </div>
{% endblock %}